INSERT INTO agency (name, type, code, is_active) VALUES ('FARO Central', 'REGIONAL', 'FARO', true) ON CONFLICT (name) DO NOTHING;
INSERT INTO user (email, hashed_password, full_name, role, agency_id, is_active) SELECT 'admin@faro.pol', '\\\', 'Administrador FARO', 'ADMIN', (SELECT id FROM agency WHERE name = 'FARO Central' LIMIT 1), true WHERE NOT EXISTS (SELECT 1 FROM user WHERE email = 'admin@faro.pol');
